%ul#sortable_list
  = render :partial => 'post', :collection => @posts
= render "/refinery/admin/sortable_list",                                              |
  :continue_reordering => (defined?(continue_reordering) ? continue_reordering : true) |
