#new_page_part_dialog{:style => "display: none"}
  .field
    %label{:for => "new_page_part_title"}= t('.title')
    %input#new_page_part_title.larger.widest{:value => ""}/
    %input#new_page_part_index{:type => "hidden", :value => "#{@page.parts.size}"}/
  = render '/refinery/admin/form_actions', :f => f, |
    :continue_editing => false,                     |
    :submit_button_id => "new_page_part_save",      |
    :cancel_button_id => "new_page_part_cancel",    |
    :hide_delete => true                            |
