<% if @categories.any? %>
  <h3 class="emphasize"><%= t('.title') %></h3>
  <ul class="list-unstyled sidebar_spacer" id='categories'>
    <% @categories.each do |category| %>
      <li<%= " class='selected'" if @category.present? and @category.id == category.id %>>
        <%= link_to "#{category.title} (#{category.post_count})", refinery.blog_category_path(category) %>
      </li>
    <% end %>
  </ul>
<% end %>