/ Go to www.addthis.com/dashboard to customize your tools
%h3.emphasize Socialize
.sidebar_spacer
  .addthis_horizontal_follow_toolbox
:javascript
  if (window.addthis) {
    window.addthis = null;
    window._adr = null;
    window._atc = null;
    window._atd = null;
    window._ate = null;
    window._atr = null;
    window._atw = null;
  }
