
<% if @posts.many? %>
  <h2 class="emphasize">Recent Posts</h2>
  <ul class="list-unstyled sidebar_spacer" id="blog_posts">
    <% @posts.each do |blog_post| %>
      <li>
        <%= link_to blog_post.title, refinery.blog_post_path(blog_post) %>
      </li>
    <% end %>
  </ul>
<% end %>
