/
  <h1 id='logo'>
  <haml_loud> link_to Refinery::Core.site_name, refinery.root_path </haml_loud>
  </h1>
  <haml_loud> Refinery::Pages::MenuPresenter.new(refinery_menu_pages, self).to_html </haml_loud>
