.sidebar {
	float: right;
}


.img-circle {
        border: 2px solid $site-blue;
      }
.inner-blog-content{
		padding-left: 15px;
		padding-right: 15px;
		margin: 0 auto;
		max-width: 1150px;
		
	}

.blog {
	.inner-blog-content{
		padding-left: 15px;
		padding-right: 15px;
		margin: 0 auto;
		max-width: 1150px;
		
	}
}

.side-body {
	float: right;
}

.content-body{
	float: left;
}

