//************
// 	General 
//************

.inner-blog-content{
		padding-left: 15px;
		padding-right: 15px;
		margin: 0 auto;
		margin-top: 25px;
		max-width: 1150px;
	}

.blog {
	.inner-blog-content{
		padding-left: 15px;
		padding-right: 15px;
		margin: 0 auto;
		max-width: 1150px;
	}
	.side-body {
		float: right;
	}	
}

.content-body{
	float: left;
}

h4 {
	color: #999999;
}

h2 {
	color: #333333 !important;
}

//************
// 	Newsletter Sign Up 
//************

div.mc-field-group input {
  border-radius: 3px;
  outline: 0 none;
}
.btn {
  opacity: 1;
  background-color: $site-blue;
  border-color: $site-blue;
  color: white;
}
.input-group {
	padding-bottom: 8px;
}

.subscribe_button{
	padding-top: 15px
}

//************
// 	Sidebar 
//************

.sidebar {
	float: right;
}

a {
	color: $site-blue;
}

.sidebar_spacer {
	padding-left: 19px;
}

.sidebar_list {
	color: $site-blue;
}

//************
// Author
//************
.img-circle {
  border: 2px solid $site-blue;
}

.well {
	margin-top: 20px;
}

.twit_img {
	float: left;
	margin-right: 5px;
}

.twit-handle {
	margin-bottom: 20px;
}

.auth_info {
	color: #333333;
}

.auth_title {
	margin-top: -10px;
}

@media (max-width: 530px) {
	.img-circle {
		margin-bottom: 20px;
	}
}

//************
// 	Blockquote 
//************

blockquote {
	font-size: 24px;
	text-align: justify;
	border-left: 10px solid $site-blue;
	margin-top: 20px;
	margin-bottom: 20px;
}


//************
// 	Tags 
//************

.tag_bg {
	background-color: $site-blue;
	color: white;
}

//************
// 	Responsiveness 
//************
@media (max-width: 640px) {
  .container-fluid {
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 0px;
    margin-left: 0px;
    width: 100%;
  }
  .row {
  	padding-left: 0px;
  	padding-right: 0px;
  	margin-right: 0px;
  	margin-left: 0px;
  	width: 100%;
  }

}
